
*pyc
*pth
.conda
.vscode/
.DS_Store
.git/
__pycache__/

# Data
data/
*.csv

# sbatch files
bash/
*.sh

# Output files
error/
output/
outputs/
experiments/
results/
checkpoints/
tables/
*.pt
*.pickle
*.png
*.jpg
*.txt
!requirements.txt
*.csv.gz
*.zip

# Test files
data_test.ipynb
module_test.ipynb
results.zip
