
*pyc
*pth
.conda
.vscode/
.DS_Store
.git/
__pycache__/

# Data
data/
*.csv

# sbatch files
bash/
*.sh

# Output files
error/
output/
results/
checkpoints/
tables/
*.pt
*.pickle

# Test files
data_test.ipynb
module_test.ipynb
results.zip
